[Unit]
Description=Nodejs Prometheus exporter for DHT sensor information

[Service]
User=pi
Type=simple
ExecStart=node /opt/dht_sensor_exporter_nodejs/index.js

[Install]
WantedBy=multi-user.target
