[Unit]
Description=Nodejs Prometheus exporter for DHT sensor information

[Service]
User=pi
Type=simple
Restart=on-failure
RestartSec=5s
Environment=SENTRY_DSN=my_sentry_dsn
ExecStart=node /opt/dht_sensor_exporter_nodejs/index.js

[Install]
WantedBy=multi-user.target
